# Use only for production environment.

services:
  app:
    container_name: app
    image: ghcr.io/kedevs-global/rentesy:latest
    ports:
      - '3000:3000'
    env_file:
      - .env
      - .env.production
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_ENDPOINT=${NEXT_PUBLIC_API_ENDPOINT}
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
    depends_on:
      - db
    volumes:
      - public_data:/usr/src/app/public
    restart: unless-stopped

  db:
    container_name: db
    image: postgres:16.4-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - '${DB_PORT}:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER}']
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 5s
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  nginx:
    container_name: nginx
    image: nginx:1.27-alpine
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
    restart: unless-stopped

  cerbot:
    container_name: certbot
    image: certbot/certbot:v3.0.1
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/lib/letsencrypt:/var/lib/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM; while :; do certbot renew; sleep 12h & wait $!; done;"
    restart: unless-stopped

volumes:
  db_data:
  public_data:
